html {
	box-sizing: border-box;
	font-size: 1.6rem;
}

* {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	font-size: 62.5%;
	font-family: 'Courier New', Courier, monospace;
}

// container and img
.container {
	width: 100%;
	background-color: #FFFFFF;
	padding: 0 1rem;
	margin: 0 auto;
	border: 1px solid lightgray;
}

img {
	width: 100%;
}

// header part
.header {
	display: flex;
	justify-content: space-between;
	background-color: #7d60c0;
	text-transform: capitalize;
	color: white;
	letter-spacing: .4px;
	padding: 20px;

	.header-title {
		font-size: 1rem;
		font-weight: bold;
	}

	.bell {
		width: 20px;
		height: 20px;
		border-right: 1px solid white;
		padding-top: 10px;
	}

	.student {
		display: flex;
		text-transform: capitalize;
		color: white;

		.name {
			padding-top: 10px;
			padding-left: 10px;
		}

		.head {
			width: 40px;
			border-radius: 20px;
		}
	}
}

// end of header

// start of nav
.main-nav {
	background-color: #534373;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px;

	.nav-item img {
		width: 28px;
		height: 28px;
	}
}

.dash {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.board {
		text-transform: capitalize;
		font-size: 1.6;
		width: 100px;
		margin-right: 10px;
	}

	.text {
		flex: 1;
        height: 70px;
	}
}

.alert {
	width: inherit;
	padding: 20px;
	background-color: #7D60C0;
	border-radius: 10px;
	margin: 20px;
	color: white;
	text-transform: capitalize;
}

.top {
	h2 {
		text-transform: uppercase;
		padding-bottom: 10px;
	}
}

.times {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	button {
		border: none;
		text-transform: capitalize;
		padding: 10px;
		cursor: pointer;

		&:hover {
			color: white;
			background-color: #61D58E;
			border-radius: 10px;
		}
	}
}

.users {
	margin-top: 20px;

	.middle {
		h2 {
			text-transform: uppercase;
		}
	}

	.bottom {
		margin-top: 20px;

		h2 {
			text-transform: uppercase;
		}

	}
}

.socials {
	margin-top: 20px;

	h2 {
		text-transform: uppercase;
		padding-bottom: 20px;
	}
}

.new {
	margin-top: 20px;
	width: inherit;

	h2 {
		text-transform: uppercase;
	}

	.box-a {
		padding: 40px;
		text-align: center;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		figcaption {
			text-transform: capitalize;
		}

		a,
		p {
			padding-bottom: 10px;
		}
	}

	.box-b {
		padding: 40px;
		text-align: center;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		figcaption {
			text-transform: capitalize;
		}

		a,
		p {
			padding-bottom: 10px;
		}
	}

	.box-c {
		padding: 40px;
		text-align: center;

		// border-bottom: 4px solid #CBCBCB;
		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		figcaption {
			text-transform: capitalize;
		}

		a,
		p {
			padding-bottom: 10px;
		}
	}

	.box-d {
		padding: 40px;
		text-align: center;

		// border-bottom: 4px solid #CBCBCB;
		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		figcaption {
			text-transform: capitalize;
		}

		a,
		p {
			padding-bottom: 10px;
		}
	}
}

.activity {
	margin-top: 20px;
	width: inherit;

	h2 {
		text-transform: uppercase;
		padding-bottom: 20px;
	}

	.active-1 {
		text-align: center;
		padding: 40px;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		p,
		h3 {
			text-transform: capitalize;
			padding-bottom: 5px;
		}
	}

	.active-2 {
		text-align: center;
		padding: 40px;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		p,
		h3 {
			text-transform: capitalize;
			padding-bottom: 5px;
		}
	}

	.active-3 {
        padding: 40px;
		text-align: center;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		p,
		h3 {
			text-transform: capitalize;
			padding-bottom: 5px;
		}
	}

	.active-4 {
		text-align: center;
		padding: 40px;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		p,
		h3 {
			text-transform: capitalize;
			padding-bottom: 5px;
		}
	}
}


// tablet version
@media(min-width:600px) and (max-width:900px) {
	.container {
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-template-rows: 70px 1fr;
	}

	.header {
		grid-column: 1/3;
		grid-row: 1/2;
	}

	.main-nav {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.main {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.users {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content;
		grid-gap: 20pxpx;
	}

	.middle {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.bottom {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.socials {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: min-content min-content min-content;
		grid-gap: 20px;
	}

	.facebook {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.instagram {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.twitter {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.new {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content min-content min-content;
		grid-gap: 20px;
	}

	.box-a {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.box-b {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.box-c {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	.box-d {
		grid-column: 1/2;
		grid-row: 4/5;
	}

	.activity {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content min-content min-content;
		grid-gap: 20px;
	}

	.active-1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.active-2 {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.active-3 {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	.active-4 {
		grid-column: 1/2;
		grid-row: 4/5;
	}
}

//end if tablet

// desktop version
@media (min-width:901px) {
	.container {
		max-width: 1024px;
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-template-rows: 70px 1fr;
	}

	.header {
		grid-column: 1/3;
		grid-row: 1/2;
	}

	.main-nav {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.main {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.users {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content;
		grid-gap: 20pxpx;
	}

	.middle {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.bottom {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.socials {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: min-content min-content min-content;
		grid-gap: 20px;
	}

	.facebook {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.instagram {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.twitter {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.below {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content;
		grid-gap: 20px;
	}

	.new {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.activity {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.message {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.settings {
		grid-column: 2/3;
		grid-row: 2/3;
	}
}

//end of desktop