html {
	box-sizing: border-box;
	font-size: 1.6rem;
}

* {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	font-size: 62.5%;
	font-family: 'Courier New', Courier, monospace;
}

// container and img
.container {
	width: 100%;
	background-color: #FFFFFF;
	padding: 0 1rem;
	margin: 0 auto;
	border: 1px solid lightgray;
}

img {
	width: 100%;
}


// header part
.header {
	display: flex;
	justify-content: space-between;
	background-color: #7d60c0;
	text-transform: capitalize;
	color: white;
	letter-spacing: .4px;
	padding: 20px;


	.header-title {
		font-size: 1rem;
		font-weight: bold;
	}

	.bell {
		width: 20px;
		height: 20px;
		border-right: 1px solid white;
		padding-top: 10px;
	}

	.student {
		display: flex;
		text-transform: capitalize;
		color: white;

		.name {
			padding-top: 10px;
			padding-left: 10px;
		}

		.head {
			width: 40px;
			border-radius: 20px;
		}
	}
}

// end of header

// start of nav
.main-nav {
	background-color: #534373;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px;

	.nav-item img {
		width: 28px;
		height: 28px;
	}
}

.main {
	padding: 4px;
}

.dash {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.board {
		text-transform: capitalize;
		font-size: 1.6;
		width: 100px;
		margin-right: 10px;
	}

	.text {
		flex: 1;
		height: 70px;
	}
}

.alert {
	width: inherit;
	padding: 20px;
	background-color: #7D60C0;
	border-radius: 10px;
	margin: 20px;
	color: white;
	text-transform: capitalize;
}

.top {
	h2 {
		text-transform: uppercase;
		padding-bottom: 10px;
	}
}

.times {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	button {
		border: none;
		text-transform: capitalize;
		padding: 10px;
		cursor: pointer;

		&:hover {
			color: white;
			background-color: #61D58E;
			border-radius: 10px;
		}
	}
}

.users {
	margin-top: 20px;
	border: 0 !important;

	.middle {
		h2 {
			text-transform: uppercase;

		}
	}

	.bottom {
		margin-top: 20px;

		h2 {
			text-transform: uppercase;
		}

	}
}

.socials {
	margin-top: 20px;

	h2 {
		text-transform: uppercase;
		padding-bottom: 20px;
	}
}

.new {
	margin-top: 20px;
	width: inherit;

	h2 {
		text-transform: uppercase;
	}

	.box-a {
		padding: 40px;
		text-align: center;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		figcaption {
			text-transform: capitalize;
		}

		a,
		p {
			padding-bottom: 10px;
		}
	}

	.box-b {
		padding: 40px;
		text-align: center;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		figcaption {
			text-transform: capitalize;
		}

		a,
		p {
			padding-bottom: 10px;
		}
	}

	.box-c {
		padding: 40px;
		text-align: center;

		// border-bottom: 4px solid #CBCBCB;
		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		figcaption {
			text-transform: capitalize;
		}

		a,
		p {
			padding-bottom: 10px;
		}
	}

	.box-d {
		padding: 40px;
		text-align: center;

		// border-bottom: 4px solid #CBCBCB;
		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		figcaption {
			text-transform: capitalize;
		}

		a,
		p {
			padding-bottom: 10px;
		}
	}
}

.activity {
	margin-top: 20px;
	width: inherit;

	h2 {
		text-transform: uppercase;
		padding-bottom: 20px;
	}

	.active-1 {
		text-align: center;
		padding: 40px;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		p,
		h3 {
			text-transform: capitalize;
			padding-bottom: 5px;
		}
	}

	.active-2 {
		text-align: center;
		padding: 40px;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		p,
		h3 {
			text-transform: capitalize;
			padding-bottom: 5px;
		}
	}

	.active-3 {
		padding: 40px;
		text-align: center;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		p,
		h3 {
			text-transform: capitalize;
			padding-bottom: 5px;
		}
	}

	.active-4 {
		text-align: center;
		padding: 40px;

		img {
			width: 70px;
			height: 70px;
			border-radius: 35px;
		}

		p,
		h3 {
			text-transform: capitalize;
			padding-bottom: 5px;
		}
	}
}

.message {
	width: inherit;
	margin-top: 10px;
	margin-bottom: 10px;

	h2 {
		text-transform: uppercase;
		padding-bottom: 10px;
	}

	.search {
		text-align: center;
		padding-bottom: 10px;

		input {
			width: 100%;
			height: 40px;
			border-radius: 10px;
		}
	}

	.note {
		text-align: center;

		textarea {
			width: 100%;
			height: 100px;
			border-radius: 10px;
			text-align: left;
		}
	}

	.button {
		padding-top: 10px;
		border: none;
		width: 100%;
		padding: 20px;
		border-radius: 5px;
		color: white;
		background-color: #7D60C0;
	}
}

.settings {
	margin-top: 20px;

	h2 {
		text-transform: uppercase;
		padding-bottom: 30px;
	}

	.send {
		text-align: center;

		p {
			text-transform: capitalize;
		}
	}

	.set {
		text-align: center;

		p {
			text-transform: capitalize;
		}
	}
}

.footer {
	width: inherit;
	margin-top: 30px;
	margin-bottom: 30px;

	select {
		width: 100%;
		height: 50px;
		border-radius: 10px;
	}


	.buttons {
		width: inherit;
		padding-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		.save {
			padding: 20px 70px;
			background-color: #7D60C0;
			border-radius: 10px;
			color: white;
			text-transform: uppercase;
			border: none;
		}

		.cancel {
			padding: 20px 70px;
			background-color: #989898;
			border-radius: 10px;
			color: white;
			text-transform: uppercase;
			border: none;
		}
	}
}

// tablet version
@media(min-width:600px) and (max-width:900px) {
	.container {
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-template-rows: 70px 1fr;
	}

	.header {
		grid-column: 1/3;
		grid-row: 1/2;
	}

	.main-nav {
		grid-column: 1/2;
		grid-row: 2/3;
		flex-direction: column;
		justify-content: flex-start;
		gap: 30px;
		padding-top: 30px;
	}

	.main {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.users {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content;
		// grid-gap: 20px;
	}

	.middle {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.bottom {
		grid-column: 2/3;
		grid-row: 1/2;
		padding-bottom: 15px;
	}

	.social-inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: min-content min-content min-content;
		grid-gap: 20px;
	}

	.facebook {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.instagram {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.twitter {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.new {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content min-content min-content;
		grid-gap: 20px;
	}

	.box-a {
		grid-column: 1/2;
		grid-row: 1/2;
		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.profile {
				text-align: left;
				display: flex;
				align-items: center;
			}

			figcaption {
				font-size: 10px;
			}

			a,
			p {
				font-size: 15px;
			}

			.img,
			img {
				margin-right: 10px;
			}
		}
	}

	.box-b {
		grid-column: 1/2;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.profile {
				text-align: left;
				display: flex;
				align-items: center;
			}

			figcaption {
				font-size: 10px;
			}

			a,
			p {
				font-size: 15px;
			}

			.img,
			img {
				margin-right: 10px;
			}
		}
	}

	.box-c {
		grid-column: 1/2;
		grid-row: 3/4;
		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.profile {
				text-align: left;
				display: flex;
				align-items: center;
			}

			figcaption {
				font-size: 10px;
			}

			a,
			p {
				font-size: 15px;
			}

			.img,
			img {
				margin-right: 10px;
			}
		}
	}

	.box-d {
		grid-column: 1/2;
		grid-row: 4/5;
		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.profile {
				text-align: left;
				display: flex;
				align-items: center;
			}

			figcaption {
				font-size: 10px;
			}

			a,
			p {
				font-size: 15px;
			}

			.img,
			img {
				margin-right: 10px;
			}
		}
	}

	.activity {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content min-content min-content;
	}

	.active-1 {
		grid-column: 1/2;
		grid-row: 1/2;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.members {
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: space-between;
		}

		.active-img,
		img {
			margin-right: 10px;
		}

		.active-info {
			p {
				font-size: 15px;
			}
		}

	}

	.active-2 {
		grid-column: 1/2;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.members {
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: space-between;
		}

		.active-img,
		img {
			margin-right: 10px;
		}

		.active-info {
			p {
				font-size: 15px;
			}
		}
	}

	.active-3 {
		grid-column: 1/2;
		grid-row: 3/4;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.members {
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: space-between;
		}

		.active-img,
		img {
			margin-right: 10px;
		}

		.active-info {
			p {
				font-size: 15px;
			}
		}

	}

	.active-4 {
		grid-column: 1/2;
		grid-row: 4/5;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.members {
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: space-between;
		}

		.active-img,
		img {
			margin-right: 10px;
		}

		.active-info {
			p {
				font-size: 15px;
			}
		}
	}
}

// desktop version
@media (min-width:901px) and (max-width:1400px) {
	.container {
		max-width: 1024px;
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-template-rows: 70px 1fr;
	}

	.header {
		grid-column: 1/3;
		grid-row: 1/2;
	}

	.main-nav {
		grid-column: 1/2;
		grid-row: 2/3;
		flex-direction: column;
		justify-content: flex-start;
		gap: 30px;
		padding-top: 30px;
	}

	.main {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.users {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content;
		grid-gap: 20pxpx;
	}

	.middle {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.bottom {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.below {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content;
		gap: 20px;
		align-items: start;
	}

	.social-inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: min-content min-content min-content;
		grid-gap: 20px;
	}

	.facebook {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.instagram {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.twitter {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.new {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content min-content min-content;
		grid-gap: 20px;
	}

	.box-a {
		grid-column: 1/2;
		grid-row: 1/2;
		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.profile {
				text-align: left;
				display: flex;
				align-items: center;
			}

			figcaption {
				font-size: 10px;
			}

			a,
			p {
				font-size: 10px;
			}

			.img,
			img {
				margin-right: 10px;
			}
		}
	}

	.box-b {
		grid-column: 1/2;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.profile {
				text-align: left;
				display: flex;
				align-items: center;
			}

			figcaption {
				font-size: 10px;
			}

			a,
			p {
				font-size: 10px;
			}

			.img,
			img {
				margin-right: 10px;
			}
		}
	}

	.box-c {
		grid-column: 1/2;
		grid-row: 3/4;
		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.profile {
				text-align: left;
				display: flex;
				align-items: center;
			}

			figcaption {
				font-size: 10px;
			}

			a,
			p {
				font-size: 10px;
			}

			.img,
			img {
				margin-right: 10px;
			}
		}
	}

	.box-d {
		grid-column: 1/2;
		grid-row: 4/5;
		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.profile {
				text-align: left;
				display: flex;
				align-items: center;
			}

			figcaption {
				font-size: 10px;
			}

			a,
			p {
				font-size: 10px;
			}

			.img,
			img {
				margin-right: 10px;
			}
		}
	}

	.activity {
		grid-column: 2/3;
		grid-row: 1/2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content min-content min-content;
	}

	.active-1 {
		grid-column: 1/2;
		grid-row: 1/2;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.members {
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: space-between;
		}

		.active-img,
		img {
			margin-right: 10px;
		}

		.active-info {
			p {
				font-size: 10px;
			}
		}

	}

	.active-2 {
		grid-column: 1/2;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.members {
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: space-between;
		}

		.active-img,
		img {
			margin-right: 10px;
		}

		.active-info {
			p {
				font-size: 10px;
			}
		}
	}

	.active-3 {
		grid-column: 1/2;
		grid-row: 3/4;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.members {
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: space-between;
		}

		.active-img,
		img {
			margin-right: 10px;
		}

		.active-info {
			p {
				font-size: 10px;
			}
		}

	}

	.active-4 {
		grid-column: 1/2;
		grid-row: 4/5;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.members {
			display: flex;
			align-items: center;
			text-align: left;
			justify-content: space-between;
		}

		.active-img,
		img {
			margin-right: 10px;
		}

		.active-info {
			p {
				font-size: 10px;
			}
		}
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.message {
			width: 49%;
		}

		.settings {
			width: 49%;

			h2 {
				text-transform: uppercase;
			}

			.checks {
				padding-bottom: 30px;
			}

			.send {
				text-align: center;
				padding-bottom: 7px;

				p {
					text-transform: capitalize;
				}
			}

			.set {
				text-align: center;

				p {
					text-transform: capitalize;
				}
			}
			.buttons {
					width: inherit;
					padding-top: 10px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 20px;

				.save {
					padding: 20px 70px;
					background-color: #7D60C0;
					border-radius: 10px;
					color: white;
					text-transform: uppercase;
					border: none;
					margin-right: 15px;
				}

				.cancel {
					padding: 20px 70px;
					background-color: #989898;
					border-radius: 10px;
					color: white;
					text-transform: uppercase;
					border: none;
					margin-left: 15px;
				}
	}
		}
	}



}

//end of desktop